<p-dialog
    header="Print"
    styleClass="w-8"
    [modal]="true"
    position="top"
    [(visible)]="display"
    (onHide)="closeDialog()">
    <div>
        <div class="grid text-cyan-900 bg-white" #print>
            <div class="col-12">
                <h2>{{vault.vaultName}}</h2>
                <sup>{{date | date: 'medium'}}</sup>
                <p style="white-space: pre-wrap;" class="text-gray-500">{{vault.description}}</p>
            </div>
            <div class="col-12">
                <table style="width: 100%;">
                    <tr>
                        <th style="text-align: left;">Index</th>
                        <th style="text-align: left;">Key Name</th>
                        <th style="text-align: left;">User Name</th>
                        <th style="text-align: left;">Password</th>
                        <th style="text-align: left;">Email Address</th>
                        <th style="text-align: left;">Access Location</th>
                    </tr>
                    <tr *ngFor="let key of vault.storageKeys; let i = index">
                        <td>{{i+1}}</td>
                        <td>{{key.keyName}}</td>
                        <td>{{key.username}}</td>
                        <td>{{key.password}}</td>
                        <td>{{key.emailAddress}}</td>
                        <td>{{key.accessLocation}}</td>
                    </tr>
                </table>
            </div>
            <div class="col-12">
                <ng-container *ngFor="let key of vault.storageKeys">
                    <div *ngIf="key.securityQAs && key.securityQAs.length>0">
                        <h4>Security Questions: {{key.keyName}}</h4>
                        <table style="width: 100%;">
                            <tr>
                                <th style="text-align: left;" class="w-5rem">Index</th>
                                <th style="text-align: left;">Question</th>
                                <th style="text-align: left;">Answer</th>
                            </tr>
                            <tr *ngFor="let qas of key.securityQAs; let i = index">
                                <td>{{i+1}}</td>
                                <td>{{qas.question}}</td>
                                <td>{{qas.answer}}</td>
                            </tr>
                        </table>
                    </div>
                </ng-container>
            </div>
        </div>
        <div class="mt-3">
            <div style="float: right;">
                <p-button
                    label="Print"
                    icon="pi pi-print"
                    styleClass="w-12rem"
                    size="small"
                    outlined="true"
                    severity="help"
                    (onClick)="printVault()"
                ></p-button>
            </div>
        </div>
    </div>
</p-dialog>