<div *ngIf="isLoggedIn">
    <div class="flex flex-column">
        <div class="w-8 p-5 m-auto">
            <!-- Navigation tools -->
            <div>
                <p-toolbar [style]="{padding: '10px'}">
                    <div class="p-toolbar-group-start">
                        <p-button 
                            icon="pi pi-plus"
                            class="mr-2"
                            size="small"
                            outlined="true"
                            (onClick)="openCreateVaultDialog()"/>
                    </div>
                    <div class="p-toolbar-group-center">
                        
                    </div>
                    <div class="p-toolbar-group-end">
                        <span class="p-input-icon-left">
                            <i class="pi pi-search"></i>
                            <input pInputText placeholder="search" />
                        </span>
                    </div>
                </p-toolbar>
            </div>
            
            <!-- Vaults -->
            <div>
                
            </div>
        </div>
    </div>
</div>


@if(displayLoginDialog){
    <app-login-dialog
        [(display)]="displayLoginDialog"
        (onLoggedIn)="onUserLoggedIn()"/>
}
@if(displayCreateVaultDialog){
    <app-create-vault-dialog
        [(display)]="displayCreateVaultDialog"
    ></app-create-vault-dialog>
}