<form [formGroup]="updateStorageKeyForm" (submit)="updateKey()">
    <p-dialog
        header="Storage Key"
        [(visible)]="display"
        (onHide)="closeDialog()"
        position="top"
        [modal]="true"
        [style]="{width:'60rem'}">
        <div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Key Name: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="keyName"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Username: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="username"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Password: </label>
                </div>
                <div class="col-9">
                    <p-password formControlName="password"   />
                </div>
            </div>
            
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>EmailAddress: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="email"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>AccessLocation: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="accessLocation"  />
                </div>
            </div>
            
            <h4>Security QAs</h4>
            <div>
                <p-table 
                    [selectionMode]="'single'" 
                    [(selection)]="selectedQuestion" 
                    [value]="storageKey.securityQAs!" 
                    [style]="{width:'100%'}"
                    (onRowSelect)="openUpdateQuestionDialog()" >
                    <ng-template pTemplate="header">
                        <tr>
                            <th style="width: 80%;">Question</th>
                            <th style="width: 20%;">Answer</th>
                        </tr>
                    </ng-template>
                    <ng-template let-row pTemplate="body">
                        <tr [pSelectableRow]="row">
                            <td>{{row.question}}</td>
                            <td>{{row.answer}}</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="footer">
                        
                    </ng-template>
                </p-table>
            </div>
        </div>
        <ng-template pTemplate="footer">
            @if (isEditModeEnabled) {
                <p-button type="submit"
                    icon="pi pi-save"
                    label="Save"
                    [raised]="true"
                    [outlined]="true"
                    severity="primary"
                    [disabled]="updateStorageKeyForm.invalid"
                ></p-button>
                <p-button
                    type="button"
                    icon="pi pi-times"
                    label="Cancel"
                    [raised]="true"
                    [outlined]="true"
                    severity="warning"
                    class="w-2"
                    (onClick)="disableEditMode()"
                ></p-button>
            } @else {
                <p-button 
                    icon="pi pi-file-edit"
                    label="Edit"
                    [raised]="true"
                    [outlined]="true"
                    severity="help"
                    (onClick)="enableEditMode()"
                ></p-button>
                <p-button
                    type="button"
                    icon="pi pi-times"
                    label="Close"
                    [raised]="true"
                    [outlined]="true"
                    severity="secondary"
                    class="w-2"
                    (onClick)="closeDialog()"
                ></p-button>
            }
        </ng-template>
    </p-dialog>
</form>

@if (displayUpdateQuestionDialog) {
    <app-update-question-dialog
    [(display)]="displayUpdateQuestionDialog"
    [question]="selectedQuestion!"
    (onUpdated)="onQuestionUpdated($event)"
    (displayChange)="selectedQuestion = null">

    </app-update-question-dialog>
}