<form [formGroup]="updateStorageKeyForm" (submit)="updateKey()">
    <p-dialog
        header="Storage Key"
        [(visible)]="display"
        (onHide)="closeDialog()"
        position="top"
        [modal]="true"
        [style]="{width:'60rem'}">
        <div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Key Name: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="keyName"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Username: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="username"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Password: </label>
                </div>
                <div class="col-9">
                    <p-password formControlName="password"   />
                </div>
            </div>
            
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>EmailAddress: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="email"  />
                </div>
            </div>
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>AccessLocation: </label>
                </div>
                <div class="col-9">
                    <input pInputText formControlName="accessLocation"  />
                </div>
            </div>
            
            <div class="field grid p-fluid">
                <div class="col-3 align-self-center">
                    <label>Security QAs: </label>
                </div>
                <div class="col-9">
                    NOT IMPLEMENTED
                </div>
            </div>
        </div>
        <ng-template pTemplate="footer">
            @if (isEditModeEnabled) {
                <p-button type="submit"
                    icon="pi pi-save"
                    label="Save"
                    [raised]="true"
                    [outlined]="true"
                    severity="primary"
                    [disabled]="updateStorageKeyForm.invalid"
                ></p-button>
                <p-button
                    type="button"
                    icon="pi pi-times"
                    label="Cancel"
                    [raised]="true"
                    [outlined]="true"
                    severity="warning"
                    class="w-2"
                    (onClick)="disableEditMode()"
                ></p-button>
            } @else {
                <p-button 
                    icon="pi pi-file-edit"
                    label="Edit"
                    [raised]="true"
                    [outlined]="true"
                    severity="help"
                    (onClick)="enableEditMode()"
                ></p-button>
                <p-button
                    type="button"
                    icon="pi pi-times"
                    label="Close"
                    [raised]="true"
                    [outlined]="true"
                    severity="secondary"
                    class="w-2"
                    (onClick)="closeDialog()"
                ></p-button>
            }
            
            

        </ng-template>
    </p-dialog>
</form>